.row {
    justify-content: center;
}

.gamecard {
    display: inline-block;
    width: 100px;
    height: 100px;
    cursor: pointer;
    background-color: transparent;
    margin: 3px 3px 3px 3px;
    border-radius: 10px;
}

.gamecard.done {
    cursor: default;
}

.gamecard.done:hover {
    cursor: default;
    box-shadow: none;
    border: none;
}

.gamecard:hover {
    border: 1px solid black;
    box-shadow: inset 0px 0px 0px 1px red;
    box-sizing: border-box;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

.blue {
    background-color: blue;
}

.orange {
    background-color: orange;
}

.cyan {
    background-color: cyan;
}

.pink {
    background-color: pink;
}

.yellow {
    background-color: yellow;
}

.teal {
    background-color: teal;
}

.color-hidden {
    background-color: #a9a9a9;
}

.header {
    text-transform: uppercase;
    text-align: center;
}

.sub {
    text-transform: uppercase;
    text-align: center;
}

.game {
    padding: 40px 40px 40px 40px;
}

.score-title {
    text-align: center;
}

.score {
    text-align: center;
    font-size: x-large;
}

.navbar-expand {
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -ms-flex-pack: start;
    justify-content: center;
}

@media(max-width: 448px) {
    .gamecard {
        height: 60px;
        width: 60px;
    }